/* css/style.css */

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Lato&display=swap');

/* Global Styles */
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #FFFFFF; /* Pure White Background */
  color: #37474F; /* Blue Grey Text */
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}


/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: #00838F; 
}

/* Navigation */
header {
  background-color: #E0F7FA; 
}

nav {
  height: 100px;
}

.nav-bar{
  width: 100px;
}

.container-nav {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

/* Header Logo */
.logo {
    text-align: center;
    margin-bottom: 10px;

  }

  .logo img {
    max-width: 150px; 
    height: 100px;
  }
nav ul {
  width:100%;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  display: block;
  padding: 1rem 1.5rem;
  color: #00838F; 
  text-decoration: none;
  font-weight: 600;
}

nav ul li a:hover {
  background-color: #B2EBF2; 
}

.search-form {
  margin-left: auto;
  display: flex;
}

.search-form input {
  padding: 0.5rem;
  border: 2px solid #00ACC1;
  text-align: center;
}

.search-form button {
  background-color: #a8dadc;
  color: #1d3557;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-align: center;
}

/* Main Content */
main {
  padding: 2rem;
}

/* Hero Section */
.hero {
    background-image: url('../assets/images/background-banner.webp');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    text-align: center;
    padding: 10rem 1rem;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
    background-color: rgba(0, 0, 0, 0.3); 
    padding: 0.5rem 1rem;
    border-radius: 8px;
    color: #ff4081;
  }

  .hero p {
    font-size: 1.5rem;
    max-width: 600px;
    margin: 0 auto;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.3); 
    padding: 0.5rem 1rem;
    border-radius: 8px;
  }

/* Best Sellers */
.best-sellers {
  margin: 4rem 0;
}

.best-sellers h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.best-sellers .products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-card {
  background-color: #E0F7FA; 
  padding: 1rem;
  margin: 1rem;
  flex: 1 1 calc(30% - 2rem);
  box-sizing: border-box;
  text-align: center;
  color: #37474F;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.product-card a{
  text-decoration: none;
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-card h3 a {
  color: #00838F; 
  text-decoration: none;
}

.product-card p {
  margin: 10px;
}

.product-card h3 a:hover {
  text-decoration: underline;
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Buttons */
button, .add-to-cart, .wishlist-button {
  background-color: #00ACC1; 
  color: #FFFFFF;
  border: none;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
}

button:hover, .add-to-cart:hover, .wishlist-button:hover {
  background-color: #00838F; 
}
/* cart */
.cart-sidebar {
  background-color: #E0F7FA; 
  border: 1px solid #B0BEC5; 
  border-radius: 8px;
  padding: 1rem;
  top: 10px; 
  max-height: 90vh; 
  overflow-y: auto; 
}

.cart-sidebar h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #00838F;
  text-align: center;
}

#cart-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

#cart-items li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  text-align: center;
}

#total-price {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1rem;
  text-align: center;
}

#checkout-button {
  background-color: #00ACC1;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  margin-top: 1rem;
  text-align: center;
}

#checkout-button:hover {
  background-color: #00838F;
}

.cart-sidebar.highlight {
  animation: cart-highlight 0.5s ease;
}

@keyframes cart-highlight {
  0% {
    box-shadow: 0 0 15px #00ACC1;
  }
  100% {
    box-shadow: 0 0 0 transparent;
  }
}

/* About Me Section */
.about-me {
  background-color: #F1F8E9; 
  padding: 2rem;
  color: #37474F;
  text-align: center;
}

.about-me img {
  border-radius: 50%;
  width: 150px;
  height: auto;
  margin: 1rem 0;
  object-fit: cover;
}

.about-me p {
  max-width: 600px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* Header and navigation */
  .container-nav {
    flex-direction: column;
    align-items: center;
  }

  nav{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: auto;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  .search-form {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .search-form input {
    margin-bottom: 1rem;
  }

  main{
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .products{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

  .products article{
    width: 100%;
  }
}



/* Shop Overview Page */
.shop-overview h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.product-card {
  width: 250px;
}

.product-grid .product-card {
  background-color: #E0F7FA;
  padding: 1rem;
  text-align: center;
  position: relative;
  border-radius: 8px;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-grid .product-card:hover {
  transform: translateY(-10px);
}

.product-grid .product-card h2 a {
  color: #00838F;
  text-decoration: none;
}

.product-grid .product-card h2 a:hover {
  text-decoration: underline;
}

.product-grid .product-card img {
  max-width: 100%;
  height: 200px; 
  object-fit: cover; 
  border-radius: 8px;
}

.product-grid .product-card .product-description {
  flex-grow: 1;
  margin-bottom: 1rem;
  height: 75px; 
  overflow: hidden; 
}

.product-grid .product-card button {
  background-color: #00ACC1;
  color: #FFF;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 0.5rem;
}

.product-grid .product-card button:hover {
  background-color: #00838F;
}

.product-card a{
  text-decoration: none;
}

button.add-to-wishlist.wishlisted {
  background-color: #ff4081; 
  color: white;
}

.add-to-wishlist.wishlisted {
  background-color: #ff4081; 
  color: white;
}

.copyright {
  color: #ff69b4; 
  text-decoration: none;
  font-weight: bold;
}

.copyright:hover {
  text-decoration: underline;
}

select {
  font-size: 16px; 
  padding: 5px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  background: #fff; 
  color: #333; 
  cursor: pointer; 
}

select option {
  font-size: 16px; 
  color: #333; 
}


@media (max-width: 768px) {
  .product-grid .product-card {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .shop-overview {
    margin: 10px;
  }

  .hero{
    background-attachment: scroll;
  }
}

/* Product Detail Page */
.product-detail {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.product-detail h1, .product-detail h2 {
  text-align: center;
}

.product-detail figure {
  margin: 2rem 0;
  text-align: center;
}

.product-detail figure img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-detail figure figcaption {
  margin-top: 0.5rem;
  color: #00838F; 
}

.product-features ul {
  list-style: disc;
  padding-left: 1.5rem;
  color: #37474F;
}

.product-features li {
  margin-bottom: 0.5rem;
}

.product-buttons {
  justify-content: center;
  margin: 25px;
  display: flex;
  gap: 10px;
}

#review-button{
  margin-top: 20px;
  text-align: center;
}

h3{
  margin: 10px;
  text-align: center;
}

.price{
  text-align: center;
  margin: 10px;
  padding: 10px;
}

/* Forms */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 1rem;
  color: #37474F;
  font-weight: 600;
}

input, textarea {
  padding: 0.5rem;
  margin-top: 0.5rem;
  background-color: #FFFFFF;
  border: 1px solid #B0BEC5; 
  border-radius: 4px;
  color: #37474F;
}

input:focus, textarea:focus {
  outline: none;
  border-color: #00ACC1;
}

/* Contact Page */
.contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
}

.contact-form h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.contact-form button{
  margin-top: 15px;
  text-align: center;
}

/* Map Section */
.map-section {
  margin-top: 4rem;
}

.map-section h2 {
  text-align: center;
  margin-bottom: 2rem;
}

#map {
  width: 100%;
  height: 400px;
}

/* Footer */
footer {
  background-color: #E0F7FA; 
  color: #37474F;
  text-align: center;
  padding: 1rem;
}

/* Klanten */
.customer-section {
  padding: 2rem;
}

.customer-section h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.customer-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.customer-card {
  background-color: #E0F7FA;
  border-radius: 8px;
  padding: 1rem;
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease;
}

.customer-card:hover {
  transform: translateY(-10px);
}

.customer-card img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.customer-card h2 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: #00838F;
}

.customer-card p {
  margin: 0.25rem 0;
  color: #37474F;
  font-size: 0.9rem;
}

/* Notification styles */
#notification-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.notification {
  display: flex;
  align-items: center;
  background-color: #00838F;
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  animation: slide-in 0.3s ease;
}

.notification img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
}

.notification p {
  margin: 0;
  font-size: 14px;
}

@keyframes slide-in {
  from {
      transform: translateX(100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}


/* Responsive Styles */
@media (max-width: 768px) {
  header nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
  }

  .hero {
    padding: 4rem 1rem;
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1.25rem;
  }

  .product-card {
    flex: 1 1 100%;
  }

  .product-grid {
    grid-template-columns: 1fr;
  }


  .product-detail {
    padding: 1rem;
  }

  .contact-form {
    padding: 1rem;
  }
}


/* Bookmark style - edge of the header */
.bookmark-qr {
  position: absolute; 
  top: 0; 
  right: 10px; 
  width: 50px;
  height: 120px;
  background: #00838F;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 10;
}


.qr-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.qr-modal-content {
  position: relative;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.qr-modal-content img {
  width: 300px; 
  height: 300px;
}

.qr-close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 30px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.qr-close:hover {
  color: red;
}

.social-icons{
  margin: 10px;
}

#github{
  margin: 19px;
}

@media (max-width: 768px) {
  .bookmark-qr {
    display: none;
  }
}